@font-face {
  font-family: 'Neo Sans Std';
  src: url('https://cdn.jsdelivr.net/gh/willianfp/cdn@master/NeoSansStd-Regular.eot');
  src: url('https://cdn.jsdelivr.net/gh/willianfp/cdn@master/NeoSansStd-Regular.eot%23iefix'),
      url('https://cdn.jsdelivr.net/gh/willianfp/cdn@master/NeoSansStd-Regular.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/willianfp/cdn@master/NeoSansStd-Regular.woff') format('woff'),
      url('https://cdn.jsdelivr.net/gh/willianfp/cdn@master/NeoSansStd-Regular.ttf') format('truetype');

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('https://cdn.jsdelivr.net/gh/willianfp/cdn@master/icomoon.eot?p1x754');
  src:  url('https://cdn.jsdelivr.net/gh/willianfp/cdn@master/icomoon.eot%3Fp1x754%23iefix') format('embedded-opentype'),
    url('https://cdn.jsdelivr.net/gh/willianfp/cdn@master/icomoon.ttf?p1x754') format('truetype'),
    url('https://cdn.jsdelivr.net/gh/willianfp/cdn@master/icomoon.woff?p1x754') format('woff');
	
  font-weight: normal;
  font-style: normal;
}

.qp-icomoon-icons {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}